html, body {
    background: url(../images/bg_food.png);
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
}

#headPanel {
    display: flex;
    box-shadow: 0 0 1px 0;
    background-color: white;
    width: 100%;
}
#logo {
    transform: rotate(180deg);
    padding: 0px;
}
#navigationPanel {
    background-color: white;
    width: 90%;
    display: flex;
    padding: 0;
    justify-content: center;
    position: inherit;
}
#navigationPanel li {
    list-style: none;
    margin-top: 0;
    text-align: center;
    width: 5%;
    padding: 20px;
}
a.link {
    text-decoration: none;
    font-size: 130%;
    color: orange;
}
a.link:hover {
    background-color: orange;
    color: white;
    display: block;
}
#text {
    box-shadow: 0 0 1px 0;
    width: 70%;
    height: 70%;
    margin-left: 10px;
    position: absolute;
    background-color: white;
    border: 2px white;
    margin: auto;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
    display: flex;
    flex-direction: column;
}
p, h1 {
    padding: 10px;
}
.picture {
    padding: 0, 0, 255px;
}
.userImage {
    float: left;
    margin: 7px;
}
.userInfo {
    display: flex;
    padding: 10px;
}
.userBio {
    float: right;
    margin: 7px;
}
.itemsColoum ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 1px 0;
    width: 70%;
    height: 70%;
    margin-left: 10px;
    position: absolute;
    background-color: white;
    border: 2px white;
    margin: auto;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
}