/* Спецыфикация */

body {
    font-family: sans-serif;
    background: #FFFFFF;
    zoom: 125%;
}

.site_logo_img {
    width: 232px;
    height: 50px;
}

.carousel {
    
}

.prom_slider_img {
    width: 100%;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.navbar {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #FFFFFF !important;
}

.navbar-brand {
    color: red !important;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color:red !important;  
    text-decoration: none;
}

.navbar-collapse {
    /* justify-content: flex-end; */
    align-content: flex-end;
}


.inline-container {
    display: block;
    padding: 5px;
    width: inherit;
}

.item_block {
    display: block;
    background: #FFFFFF;
    border: 3px solid   #f2f2f2;
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 10px #b3b3b3;
}

.item_block:hover {
    box-shadow: 0 0 30px #8c8c8c;
}

.item_action_button {
    text-align: center;
    border-color: red;
    margin-left: 10px;
}

.item_action_button:hover {
    background: red;
}

.place_rating {
    color: yellow;
    margin-right: 7px;
}

.item_img {
    border-radius: 4px;
    height: 240px;
    width: 240px;
    /* width: inherit; */
    margin-bottom: 10px;
}

.item_name_h {
    text-decoration: none;
}

.item_link {
    color: black;
}

.item_link:hover {
    color: red !important;
    text-decoration: none !important;
}

.item_desc {
    margin: 8px;
    max-height: 175px;
}

.item_text_desc {
    color: #808080;
    font-size: 12px;
}

.items_block {
    justify-content: center;
    margin-top: 20px;
}

.footer {
    background: #4d4d4d;
    margin-top: 20px;
}

.footer_link {
    color: #FFFFFF;
    margin: 10px;
    font-size: 12px;
}

.footer_link:hover {
    color: red;
}

.item_price {
    color: black;
    margin-right: 7px;
}

.vedeo_block {
    text-align: center;
}

.show_all_link {
    font-size: 12px;
    text-align: right;
    text-decoration: none;
    margin-bottom: 0px;
}

.categories {
    margin: 20px 10px;
}

.card-link {
    color: black;
    text-decoration: none;
}

.card-link:hover {
    color: red;
    text-decoration: none !important;
}

.items_line {
    margin-top: 15px;
}

.heading {
    margin: 20px;
}

.card:hover {
    box-shadow: 0 0 10px #b3b3b3;
}

.auth_form_container {
    margin: 30px auto;
}

.form_block {
    text-align: left;
    margin: 30px 35px;
}

.form_action_button {
    margin-top: 10px;
}

#inputGroupPrepend {
    font-size: 13px;
}

.about_us_article {
    margin: 30px auto;
}

.news_article {
    margin: 20px auto;
}

.place_small_pic {
    width: 200px;
    height: 200px;
}

.place_big_pic {
    width: 600px;
    height: 300px;
}

.form-group, .list-group, .form_field {
    
    margin: 10px auto;
}

.pic_form_desc {
    /* vertical-center */
}

/* .table_qrcode {
    display: block;
    width: 128px !important;
    height: 128px !important;
} */

.table_card {
    margin: 25px auto;
}

.tables_list_block {
    max-width: 700px;
}

.tables_list_card {
    padding: 30px;
}

.user_info_block {
    max-width: 900px;
}

.user_small_pic {
    width: 200px;
    height: 200px;
}

.user_edit_btn {
    margin: 10px auto;
}

.order_stage_pic {
    width: 286px;
    height: 181px;
}

.action_btn {
    margin: 10px auto;
}